@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-light-rgb: 248, 249, 250;
    --bs-light-text: #212529;

    --font-family-base: 'Poppins', sans-serif;
    --font-family-heading: 'Barlow', sans-serif;
}

/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand img {
    width: 80px;
}

.nav-link {
    position: relative;
    font: 500 1rem 'Poppins', sans-serif;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: var(--bs-light-text);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.btn {
    font: 500 1rem 'Poppins', sans-serif;
    transition: all .3s ease-in-out;
    width: 140px;
}

.display-4 {
    font-weight: 400;
}